@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header, .header-section, .footer, .section-one, .to-center-s1 {
    background-color: #1f2937;
    display: flex;
}

.section-one, .to-center-s1, .to-center-s2, .cards, .to-center-s3{
    justify-content: center;
    align-items: center;
}

.section-one {
    padding: 100px 0 200px 0;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0 145px 0;
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #2e2e2e;
    padding: 115px 0;
}

.to-center-s2, .cards {
    display: flex;
}

.cards {
    flex-direction: column;
    width: 170px;
    gap: 5px;
}

.frame {
    border: 4px solid #3882f6;
    border-radius: 15px;
    width: 160px;
    height: 160px;
}

.s1-title-txt-btn{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    color: #f9faf8;

    
}

.header {
    color: #f9faf8;
    justify-content: center;
    padding: 5px 0;
}

.header-section {

    justify-content: space-between;
    align-items: center;
}

.to-center-s1, .header-section, .to-center-s2 {
    width: 75vw;
}


.to-center-s1 {
    gap: 35px;
}

.to-center-s2 {
    gap: 45px;
    padding: 10px;
}

.to-center-s3 {
    width: 60vw;
}

ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
    padding: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

img {
    width: 50%;
    height: 240px;
}

.s1-title-txt-btn p {
    margin: 0;
    color: #e5e7eb;
    font-size: 18px;
}

.s1-title-txt-btn button {
    padding: 10px 35px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 900;
    color: white;
    background-color: #3882f6;
}

.s1-title-txt-btn h1 {
    font-size: 48px;
    margin: 0;
}

.cards p {
    text-align: center;
    color: rgb(63, 63, 63);
    font-size: 18px;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.to-center-s3 p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin: 0;
}

.to-center-s3 div {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}